<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.attackTree.AttackTreeAdapter"
            id="attackTree"
            name="AttackTree">
         <elements>
            <element
                  element="org.but4reuse.adapters.attackTree.EdgeElement"></element>
            <element
                  element="org.but4reuse.adapters.attackTree.VertexElement">
            </element>
         </elements>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            class="org.but4reuse.adapters.attackTree.preferences.AttackTreeAdapterPreferencePage"
            id="org.but4reuse.adapters.attackTree.page"
            name="AttackTree">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.adapters.attackTree.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
